@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
}

body {
  background-color: #000000 !important;
}

/* .....Root.....*/
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilory/gilroy/Gilroy-Medium.ttf);
}

:root {
  /* ........Font Family....... */
  --ff_Montserrat: "Montserrat", sans-serif;

  /* ......Font Size...... */
  --fs_mini: 14px;
  --fs_xsm: 16px;
  --fs_sm: 18px;
  --fs_md: 20px;
  --fs_lg: 22px;
  --fs_xl: 24px;
  --fs_xxl: 45px;
  --fs_3xl: 56px;
  --fs_4xl: 65px;
  --fs_5xl: 85px;
  /* ........ Font Weight ......... */
  --fw_medium: 500;

  /* ........ Text Color ......... */
  --tx_primary: #a6a6a6;
  --tx_secondary: #e1e1e1;
  --tx_neutral: #841002;
  --tx_body: #f2f2f2;
  --tx_light: #878787;
  /* ........ Background Color ......... */
  --bg_primary: #a6a6a6;
  --bg_secondary: #e1e1e1;
  --bg_neutral: #841002;
  --bg_body: #f2f2f2;
  --bg_light: #878787;
}

/* ........ Font Size ......... */
.fs_mini {
  font-size: var(--fs_mini);
}

.fs_xsm {
  font-size: var(--fs_xsm);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_xl {
  font-size: var(--fs_xl);
}

.fs_xxl {
  font-size: var(--fs_xxl);
}

.fs_3xl {
  font-size: var(--fs_3xl);
}

.fs_4xl {
  font-size: var(--fs_4xl);
}

.fs_5xl {
  font-size: var(--fs_5xl);
}

/* ........ Font Weight ......... */
.fw_medium {
  font-weight: var(--fw_medium);
}

/* ........ Font Family ......... */
.ff_gilroy {
  font-family: "Gilroy";
}

.ff_Montserrat {
  font-family: var(--ff_Montserrat);
}

/* ........ Text Color ......... */
.tx_primary {
  color: var(--tx_primary);
}

.tx_secondary {
  color: var(--tx_secondary);
}

.tx_light {
  color: var(--tx_light);
}

.tx_body {
  color: var(--tx_body);
}

.tx_neutral {
  color: var(--tx_neutral);
}

/* ........ Background Color ......... */
.bg_primary {
  background-color: var(--bg_primary);
}

.bg_secondary {
  background-color: var(--bg_secondary);
}

.bg_neutral {
  background-color: var(--bg_neutral);
}

.bg_light {
  background-color: var(--bg_light);
}

.bg_body {
  background-color: var(--bg_body);
}

@media (min-width: 992px) {
  :root {
    /* ........ Font Size ......... */
    --fs_xsm: 16px;
    --fs_sm: 18px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 24px;
    --fs_xxl: 45px;
    --fs_3xl: 56px;
    --fs_4xl: 65px;
    --fs_5xl: 85px;
  }
}

@media (min-width: 1200px) {
  :root {
    /* ........ Font Size ......... */
    --fs_xsm: 16px;
    --fs_sm: 18px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 24px;
    --fs_xxl: 45px;
    --fs_3xl: 56px;
    --fs_4xl: 65px;
    --fs_5xl: 70px;
  }
}

@media (min-width: 1400px) {
  :root {
    /* ........ Font Size ......... */
    --fs_xsm: 16px;
    --fs_sm: 18px;
    --fs_md: 20px;
    --fs_lg: 22px;
    --fs_xl: 24px;
    --fs_xxl: 45px;
    --fs_3xl: 56px;
    --fs_4xl: 65px;
    --fs_5xl: 85px;
  }
}

/* .......FAQ....... */
.left_49 {
  left: -49%;
}

.faq_bgimg {
  background-image: url(./assets/images/png/faqHand.png);
}

/* .accordin_bg {
  background: #841002 !important;
  border-radius: 0 0 60px 60px !important;
  box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5) !important; 
   border-radius: 12px;
}

.accordin_box {
  box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5) !important;
}

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #fff;
  --bs-accordion-border-color: none !important;
  --bs-accordion-btn-bg: var(--bg_neutral) !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-active-color: none !important;
  --bs-accordion-btn-bg: #212529 !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-border-radius: 12px !important;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: none;
  background: #841002;
  border-radius: 60px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #841002 !important;
  border-radius: 60px 60px 0 0 !important;
}
*/
.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/images/svg/remove.svg") !important;
}

.accordion-button::after {
  background-image: url(./assets/images/svg/plus.svg) !important;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #841002 !important ;
  box-shadow: unset !important;
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: #841002 !important;
  box-shadow: 0px 4px 100px rgba(191, 48, 48, 0.5);
  border-radius: 40px !important;
  overflow: hidden !important;
  border: unset !important;
}
.accordion-button {
  background-color: #232323 !important;
}
